 body {
  margin: 0px;
}

/**** collocation chart ***/

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/**** column placement ***/

.leftColumn {
  float: left;
  width: 15%;
}

.rightColumn {
  width: 85%;
  float: right;
  text-align: center;
}

/**** overall border and placement of charts ***/

#collocationChart {
  display: inline-block;
}

#frequencyChart {
  display: inline-block;
}

svg {
  border: 2px solid black;
  margin: 3px;
}


/**** Top ***/

#top {
  width: 100%;
  color: #fff;
  background: rgb(255, 26, 26);
  overflow:hidden;
}

#top h2 {
  color: White;
  letter-spacing: 3px;
  font-size: 2.4em;
  font-weight: normal;
  position: relative;
  margin: 0px;
  /*top:33px;*/
  display:block;
  float:left;
  padding-left: 10px;
}

#top h2 a {
  color: white;
  text-decoration: none;
  position: relative;
}

#top h2 a:hover {
  
}

#logo {
  top: 5px;
  position: relative;
  width: 53px;
  height: 40px;
}


/**** Main Menu ***/


#menu {
  display: block;
  float:left;
  margin-left: 50px
}

#menu ul {
  font-size: 10px;
  margin:0;
  padding:0;
  list-style: none;
}

#menu li {
  display: block;
  float: left;
  white-space: nowrap;
}

#menu li a {
  display: block;
  padding: 20px 20px 19px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

* html #menu a {width:1%;}

#menu li a:hover {
  background: rgb(225, 10, 10);
  color: black;
}

#menu li a.current {
  letter-spacing: 1px;
  color: blue;
  background: white;
}

#menu li a.current:hover {
  color: black;
}

/**** VIEWS ***/

#views {
  margin: 5px;
}
