<div class='leftColumn'>
	<form>
	  <input type="text" placeholder="Type for president" ng-model="tempPresident" />
	</form>

	<ul ng-show="tempPresident === ''">
	  <li ng-repeat='pres in presidents'>
	    <a ng-click="startOver(pres)">{{ pres }}</a>
	  </li>
	</ul>
	<ul ng-show="tempPresident !== ''">
  	<li ng-repeat='pres in presidents | filter: tempPresident'>
    	<a ng-click="startOver(pres)">{{ pres }}</a>
  	</li>
	</ul>
</div>

<div class='rightColumn' id='colfreq'>
	<h1><strong>{{ president }}</strong></h1>
		<coldir class="animated slideInLeft" id="collocationChart" on-click="getSotus(word, tree)" data="colData"></coldir>
		<freqdir id="frequencyChart" data="freqData"></freqdir>
		<h2 id="total">TOTAL</h2>
		<bardir bar-height="20" bar-padding="5" data="barData"></bardir>
</div>