<div class='leftColumn'>
	<form>
	  <input type="text" placeholder="Type for president" ng-model="tempPresident" />
	</form>

	<ul ng-show="tempPresident === ''">
	  <li ng-repeat='pres in presidents' ng-click="setPres(pres)">{{ pres }}</li>
	</ul>
	<ul ng-show="tempPresident !== ''">
  	<li ng-repeat='pres in presidents | filter: tempPresident' ng-click="setPres(pres)">{{ pres }}</li>
	</ul>
</div>

<div class='rightColumn'>
	<center><p class='title'>Welcome to Newspeak. Choose a president to see the 60 most common word in their set of State of the Union speeches. Click on a word to see the three following analyses:<br/><br/>

<b>Collocation map:</b> See the five most common <a href="http://en.wikipedia.org/wiki/Collocation">collocates</a> for the chosen word. Click on a red collocate node to view that word's five most common collocates, and so on and so on. As you click on collocates, they will be displayed in the trend chart to the right, and the totals graph below. Note: some words do not occur frequently enough to produce informative collocation results, so some collocation nodes may not be clickable. <br/><br/>

<b>Trend Chart:</b> Shows the frequency of the word in each of the chosen president's speeches over their years in office. 
Below, you can see the total number of times the word occurred in a president's speeches.<br/><br/>

<b>Usage Count Graph:</b> Displays the total number of occurrences of a the chosen words in all of a president's State of the Union speeches. </p></center>
</div>
